<svg width="0" height="0" style="position: absolute;">
  <defs>
    <filter id="binarize" color-interpolation-filters="linearRGB" filterUnits="objectBoundingBox" primitiveUnits="userSpaceOnUse">
    <!-- Convert to grayscale -->
    <feColorMatrix type="matrix"
      values="0.0722 0.7152 0.2126 0 0
              0.0722 0.7152 0.2126 0 0
              0.0722 0.7152 0.2126 0 0
              0      0      0      1 0"/>
    <!-- Threshold: everything above 0.5 becomes white, below becomes black -->
    <feComponentTransfer>
      <feFuncR type="discrete" tableValues="0 0.25 0.75 1"/>
      <feFuncG type="discrete" tableValues="0 0.25 0.75 1"/>
      <feFuncB type="discrete" tableValues="0 0.25 0.75 1"/>
    </feComponentTransfer>
  </filter>
  </defs>
</svg>
<style>
.screen--1bit .binarize, .screen--2bit .binarize {
  filter: url(#binarize);
}
.trmnl .item--emphasis-2 .meta .index {
  -webkit-text-stroke-color: var(--gray-30);
}
.trmnl .item--emphasis-3 .meta .index {
  -webkit-text-stroke-color: var(--black);
}
.line-height--small {
  line-height: 0.9;
}
.line-height--xsmall {
  line-height: 0.75;
}
</style>
{% template main %}
{% assign show_summary = trmnl.plugin_settings.custom_fields_values.show_summary | default: "card" %}
<div class="layout layout--stretch">
  <div class="columns" data-overflow-max-cols="{{columns}}">
    <div class="column">
      {% assign sections = "user,global" | split: "," %}
      {% for section in sections %}

        {% if section == "user" %}
          {% unless user_recipes %}{% continue %}{% endunless %}
          {% if show_summary == "card" and user_stats %}
          <span class="label label--medium" data-group-header="true">My Developer Summary</span>
          <div class="item">
            <div class="flex gap w--full">
              <div class="item stat-col">
                <div class="meta"></div>
                <div class="content">
                  <div class="flex flex--row gap--small">
                    <div class="value value--small line-height--xsmall">{{ user_stats.total_popularity | number_with_delimiter }}</div>
                    {% assign us_delta = user_stats.popularity_delta | default: 0 %}
                    {% if us_delta > 0 %}
                    <div class="label label--inverted bg--gray-30 line-height--small px--1 pt--1 lg:py--0.5 lg:mb--0.5">+{{ us_delta | number_with_delimiter }}</div>
                    {% elsif us_delta < 0 %}
                    <div class="label label--outline line-height--small px--1 pt--1 lg:py--0.5 lg:mb--0.5">–{{ us_delta | abs | number_with_delimiter }}</div>
                    {% endif %}
                  </div>
                  <span class="label label--small">connections</span>
                </div>
              </div>
              <div class="item stat-col">
                <div class="meta"></div>
                <div class="content">
                  <div class="value value--small line-height--xsmall">{{ user_stats.total_recipes }}</div>
                  <span class="label label--small">recipes</span>
                </div>
              </div>
              {% if user_stats.developer_rank %}
              <div class="item stat-col">
                <div class="meta"></div>
                <div class="content">
                  <span class="value value--small line-height--xsmall" data-value-fit="true">#{{ user_stats.developer_rank }}</span>
                  <span class="label label--small">of {{ global_stats.total_developers }}</span>
                </div>
              </div>
              {% endif %}
            </div>
          </div>
          {% endif %}
          <span class="label label--medium" data-group-header="true">My Recipes</span>
          {% assign items = user_recipes %}
        {% else %}
          {% if user_recipes %}
          <span class="label label--medium" data-group-header="true">Global</span>
          {% endif %}
          {% assign items = recipes %}
        {% endif %}

        {% for recipe in items %}
        {% assign delta = recipe.popularity_delta | default: 0 %}
        {% assign delta_abs = delta | abs %}
        {% assign total_popularity = recipe.popularity | default: 0 %}
        {% assign recipe_age_days = recipe.recipe_age_days %}
        {% if recipe_age_days == nil or recipe_age_days == blank %}
        {% assign is_new_recipe = false %}
        {% else %}
        {% if recipe_age_days <= 7 %}
          {% assign is_new_recipe = true %}
          {% else %}
          {% assign is_new_recipe = false %}
          {% endif %}
          {% endif %}
          {% assign rank_diff = recipe.rank_difference %}
          {% assign current_rank = recipe.global_rank | default: 0 %}
  <div class="item {% if recipe.is_top_gainer %}item--emphasis-3{% elsif delta > 0 %}item--emphasis-2{% endif %}">
    <div class="meta w--4"><span class="index">{{ recipe.trending_rank }}</span></div>
    <div class="icon self--center">
      <img class="image h--10 w--10 binarize" src="{% if recipe.icon_url %}{{recipe.icon_url}}{% else %}https://trmnl.com/images/plugins/trmnl--render.svg{% endif %}" onerror="this.onerror=null;this.src='https://trmnl.com/images/plugins/trmnl--render.svg';" />
    </div>
    <div class="flex flex--col flex--left gap--none stretch">
        <div class="title title--small" data-clamp="2">{{ recipe.name }}</div>
      <div class="flex flex--row flex--left gap--small">
        <div class="flex flex--col flex--left gap--none">
          <div class="value value--small line-height--xsmall">{{ total_popularity | number_with_delimiter }}</div>
        </div>
        <div class="flex flex--col flex--left gap--none">
          {% if delta > 0 %}
            <div class="label label--inverted bg--gray-30 line-height--small px--1 pt--1 lg:py--0.5 lg:mb--0.5">+{{ delta }}</div>
          {% elsif delta < 0 %}
            <div class="label label--outline line-height--small px--1 pt--1 lg:py--0.5 lg:mb--0.5">–{{ delta | abs }}</div>
          {% else %}
            <!-- <div class="label line-height--small mt--0.5">&nbsp;</div> -->
          {% endif %}
          <div class="description line-height--xsmall">
            #{{ current_rank }}
            {% if rank_diff != null %}
              {% if rank_diff > 0 %}
                &uarr;{{ rank_diff }}
              {% elsif rank_diff < 0 %}
                &darr;{{ rank_diff | abs }}
              {% endif %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
          {% endfor %}

      {% endfor %}

    </div>
  </div>
</div>
<div class="title_bar">
  {% if compact and show_summary == "title_bar" and user_stats %}
    <svg class="w--4 h--4" viewBox="0 0 211.188 211.188" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <path d="M211.18,86.626c0.037-0.789-0.108-1.588-0.45-2.328L178.59,14.745c-0.012-0.026-0.029-0.048-0.041-0.074c-0.035-0.073-0.078-0.139-0.116-0.21c-0.105-0.193-0.219-0.377-0.346-0.551c-0.056-0.077-0.112-0.153-0.172-0.227c-0.155-0.189-0.321-0.366-0.5-0.529c-0.033-0.03-0.061-0.064-0.094-0.093c-0.214-0.185-0.446-0.346-0.688-0.492c-0.071-0.043-0.145-0.079-0.218-0.119c-0.188-0.102-0.382-0.19-0.583-0.267c-0.079-0.03-0.156-0.062-0.236-0.088c-0.271-0.088-0.547-0.16-0.833-0.201c-0.03-0.004-0.061-0.003-0.091-0.007c-0.205-0.026-0.411-0.045-0.621-0.045c-0.058,0-0.114,0.01-0.172,0.012c-0.086,0.003-0.172,0.011-0.259,0.019c-0.246,0.021-0.487,0.06-0.723,0.116c-0.045,0.01-0.089,0.01-0.133,0.021l-57.176,15.228v-5.239c0-5.51-4.482-9.992-9.992-9.992s-9.992,4.482-9.992,9.992v10.562l-59.75,15.913c-0.018,0.005-0.032,0.014-0.05,0.019c-0.286,0.08-0.563,0.185-0.828,0.312c-0.073,0.035-0.139,0.076-0.209,0.114c-0.192,0.104-0.377,0.22-0.554,0.349c-0.073,0.053-0.146,0.104-0.216,0.16c-0.22,0.178-0.43,0.37-0.618,0.585c-0.013,0.014-0.022,0.031-0.035,0.046c-0.174,0.203-0.328,0.424-0.469,0.656c-0.045,0.075-0.084,0.151-0.126,0.228c-0.048,0.089-0.104,0.173-0.147,0.266L0.461,120.762c-0.328,0.711-0.471,1.475-0.45,2.234C0.005,123.154,0,123.311,0,123.469c0,19.646,16.661,35.63,37.14,35.63s37.14-15.983,37.14-35.63c0-0.127-0.004-0.253-0.008-0.379c0.037-0.79-0.108-1.589-0.45-2.329L44.175,56.607l51.429-13.697v108.106c0,16.417-13.356,29.773-29.773,29.773c-7.439,0-13.492,6.052-13.492,13.558c0,2.761,2.238,5,5,5h96.516c2.762,0,5-2.305,5-5.066c0-7.439-6.053-13.492-13.492-13.492c-16.417,0-29.773-13.356-29.773-29.773V37.587l49.455-13.171L137.37,84.297c-0.328,0.711-0.471,1.476-0.45,2.235c-0.005,0.158-0.01,0.315-0.01,0.473c0,19.646,16.661,35.63,37.14,35.63s37.14-15.984,37.14-35.63C211.188,86.878,211.184,86.752,211.18,86.626z M12.818,117.859l24.322-52.634l24.323,52.634H12.818z M174.051,28.761l24.322,52.634h-48.646L174.051,28.761z"/>
    </svg>
    <div class="title">
      {{ user_stats.total_popularity | number_with_delimiter }}
      {% assign us_td = user_stats.popularity_delta | default: 0 %}
      {% if us_td > 0 %}(+{{ us_td | number_with_delimiter }}){% elsif us_td < 0 %}(–{{ us_td | abs | number_with_delimiter }}){% endif %}
      · {{ user_stats.total_recipes | number_with_delimiter }} recipes
      {% if user_stats.developer_rank %}· #{{ user_stats.developer_rank }} / {{global_stats.total_developers}}{% endif %}
    </div>
    <div class="instance">{{ timeframe.short }}</div>
  {% else %}
    <svg class="w--7 h--7 image-stroke" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M5.5 5V19.5H20M7.5 16L11.5 11.5L15.5 14L19.5 8.5" stroke="#000000" stroke-width="1.2"/>
    </svg>
    <div class="title">{{trmnl.plugin_settings.instance_name | default: "Trending Recipes" }}</div>
    {% if show_summary == "title_bar" and user_stats %}
    <div class="instance">{{ timeframe.short }}</div>
    <div class="instance">
      <svg class="w--4 h--4" viewBox="0 0 211.188 211.188" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path d="M211.18,86.626c0.037-0.789-0.108-1.588-0.45-2.328L178.59,14.745c-0.012-0.026-0.029-0.048-0.041-0.074c-0.035-0.073-0.078-0.139-0.116-0.21c-0.105-0.193-0.219-0.377-0.346-0.551c-0.056-0.077-0.112-0.153-0.172-0.227c-0.155-0.189-0.321-0.366-0.5-0.529c-0.033-0.03-0.061-0.064-0.094-0.093c-0.214-0.185-0.446-0.346-0.688-0.492c-0.071-0.043-0.145-0.079-0.218-0.119c-0.188-0.102-0.382-0.19-0.583-0.267c-0.079-0.03-0.156-0.062-0.236-0.088c-0.271-0.088-0.547-0.16-0.833-0.201c-0.03-0.004-0.061-0.003-0.091-0.007c-0.205-0.026-0.411-0.045-0.621-0.045c-0.058,0-0.114,0.01-0.172,0.012c-0.086,0.003-0.172,0.011-0.259,0.019c-0.246,0.021-0.487,0.06-0.723,0.116c-0.045,0.01-0.089,0.01-0.133,0.021l-57.176,15.228v-5.239c0-5.51-4.482-9.992-9.992-9.992s-9.992,4.482-9.992,9.992v10.562l-59.75,15.913c-0.018,0.005-0.032,0.014-0.05,0.019c-0.286,0.08-0.563,0.185-0.828,0.312c-0.073,0.035-0.139,0.076-0.209,0.114c-0.192,0.104-0.377,0.22-0.554,0.349c-0.073,0.053-0.146,0.104-0.216,0.16c-0.22,0.178-0.43,0.37-0.618,0.585c-0.013,0.014-0.022,0.031-0.035,0.046c-0.174,0.203-0.328,0.424-0.469,0.656c-0.045,0.075-0.084,0.151-0.126,0.228c-0.048,0.089-0.104,0.173-0.147,0.266L0.461,120.762c-0.328,0.711-0.471,1.475-0.45,2.234C0.005,123.154,0,123.311,0,123.469c0,19.646,16.661,35.63,37.14,35.63s37.14-15.983,37.14-35.63c0-0.127-0.004-0.253-0.008-0.379c0.037-0.79-0.108-1.589-0.45-2.329L44.175,56.607l51.429-13.697v108.106c0,16.417-13.356,29.773-29.773,29.773c-7.439,0-13.492,6.052-13.492,13.558c0,2.761,2.238,5,5,5h96.516c2.762,0,5-2.305,5-5.066c0-7.439-6.053-13.492-13.492-13.492c-16.417,0-29.773-13.356-29.773-29.773V37.587l49.455-13.171L137.37,84.297c-0.328,0.711-0.471,1.476-0.45,2.235c-0.005,0.158-0.01,0.315-0.01,0.473c0,19.646,16.661,35.63,37.14,35.63s37.14-15.984,37.14-35.63C211.188,86.878,211.184,86.752,211.18,86.626z M12.818,117.859l24.322-52.634l24.323,52.634H12.818z M174.051,28.761l24.322,52.634h-48.646L174.051,28.761z"/>
      </svg>
      {{ user_stats.total_popularity | number_with_delimiter }}
      {% assign us_td = user_stats.popularity_delta | default: 0 %}
      {% if us_td > 0 %}(+{{ us_td | number_with_delimiter }}){% elsif us_td < 0 %}(–{{ us_td | abs | number_with_delimiter }}){% endif %}
      · {{ user_stats.total_recipes | number_with_delimiter }} recipes
      {% if user_stats.developer_rank %}· #{{ user_stats.developer_rank }}/{{global_stats.total_developers}}{% endif %}
    </div>
    {% else %}
    <div class="instance">{{ timeframe.label }}</div>
    {% endif %}
  {% endif %}
</div>
{% endtemplate %}
