<svg width="0" height="0" style="position: absolute;">
  <defs>
    <filter id="binarize" color-interpolation-filters="linearRGB" filterUnits="objectBoundingBox" primitiveUnits="userSpaceOnUse">
    <!-- Convert to grayscale -->
    <feColorMatrix type="matrix"
      values="0.0722 0.7152 0.2126 0 0
              0.0722 0.7152 0.2126 0 0
              0.0722 0.7152 0.2126 0 0
              0      0      0      1 0"/>
    <!-- Threshold: everything above 0.5 becomes white, below becomes black -->
    <feComponentTransfer>
      <feFuncR type="discrete" tableValues="0 0.25 0.75 1"/>
      <feFuncG type="discrete" tableValues="0 0.25 0.75 1"/>
      <feFuncB type="discrete" tableValues="0 0.25 0.75 1"/>
    </feComponentTransfer>
  </filter>
  </defs>
</svg>
<style>
.screen--1bit .binarize, .screen--2bit .binarize {
  filter: url(#binarize);
}
.trmnl .item--emphasis-2 .meta .index {
  -webkit-text-stroke-color: var(--gray-30);
}
.trmnl .item--emphasis-3 .meta .index {
  -webkit-text-stroke-color: var(--black);
}
.line-height--small {
  line-height: 0.9;
}
.line-height--xsmall {
  line-height: 0.75;
}
</style>
{% template main %}
{% assign show_summary = trmnl.plugin_settings.custom_fields_values.show_summary | default: "true" %}
<div class="layout layout--stretch">
  <div class="columns" data-overflow-max-cols="{{columns}}">
    <div class="column">
      {% assign sections = "user,global" | split: "," %}
      {% for section in sections %}

        {% if section == "user" %}
          {% unless user_recipes %}{% continue %}{% endunless %}
          {% if show_summary == "true" and user_stats %}
          <span class="label label--medium" data-group-header="true">My Developer Summary</span>
          <div class="item">
            <div class="flex gap w--full">
              <div class="item stat-col">
                <div class="meta"></div>
                <div class="content">
                  <div class="flex flex--row gap--small">
                    <div class="value value--small line-height--xsmall">{{ user_stats.total_popularity | number_with_delimiter }}</div>
                    {% assign us_delta = user_stats.popularity_delta | default: 0 %}
                    {% if us_delta > 0 %}
                    <div class="label label--inverted bg--gray-30 line-height--small px--1 pt--1 lg:py--0.5 lg:mb--0.5">+{{ us_delta | number_with_delimiter }}</div>
                    {% elsif us_delta < 0 %}
                    <div class="label label--outline line-height--small px--1 pt--1 lg:py--0.5 lg:mb--0.5">–{{ us_delta | abs | number_with_delimiter }}</div>
                    {% endif %}
                  </div>
                  <span class="label label--small">connections</span>
                </div>
              </div>
              <div class="item stat-col">
                <div class="meta"></div>
                <div class="content">
                  <div class="value value--small line-height--xsmall">{{ user_stats.total_recipes }}</div>
                  <span class="label label--small">recipes</span>
                </div>
              </div>
              {% if user_stats.developer_rank %}
              <div class="item stat-col">
                <div class="meta"></div>
                <div class="content">
                  <span class="value value--small line-height--xsmall" data-value-fit="true">#{{ user_stats.developer_rank }}</span>
                  <span class="label label--small">of {{ global_stats.total_developers }}</span>
                </div>
              </div>
              {% endif %}
            </div>
          </div>
          {% endif %}
          <span class="label label--medium" data-group-header="true">My Recipes</span>
          {% assign items = user_recipes %}
        {% else %}
          {% if user_recipes %}
          <span class="label label--medium" data-group-header="true">Global</span>
          {% endif %}
          {% assign items = recipes %}
        {% endif %}

        {% for recipe in items %}
        {% assign delta = recipe.popularity_delta | default: 0 %}
        {% assign delta_abs = delta | abs %}
        {% assign total_popularity = recipe.popularity | default: 0 %}
        {% assign recipe_age_days = recipe.recipe_age_days %}
        {% if recipe_age_days == nil or recipe_age_days == blank %}
        {% assign is_new_recipe = false %}
        {% else %}
        {% if recipe_age_days <= 7 %}
          {% assign is_new_recipe = true %}
          {% else %}
          {% assign is_new_recipe = false %}
          {% endif %}
          {% endif %}
          {% assign rank_diff = recipe.rank_difference %}
          {% assign current_rank = recipe.global_rank | default: 0 %}
  <div class="item {% if recipe.is_top_gainer %}item--emphasis-3{% elsif delta > 0 %}item--emphasis-2{% endif %}">
    <div class="meta w--4"><span class="index">{{ recipe.trending_rank }}</span></div>
    <div class="icon self--center">
      <img class="image h--10 w--10 binarize" src="{% if recipe.icon_url %}{{recipe.icon_url}}{% else %}https://trmnl.com/images/plugins/trmnl--render.svg{% endif %}" onerror="this.onerror=null;this.src='https://trmnl.com/images/plugins/trmnl--render.svg';" />
    </div>
    <div class="flex flex--col flex--left gap--none stretch">
        <div class="title title--small" data-clamp="2">{{ recipe.name }}</div>
      <div class="flex flex--row flex--left gap--small">
        <div class="flex flex--col flex--left gap--none">
          <div class="value value--small line-height--xsmall">{{ total_popularity | number_with_delimiter }}</div>
        </div>
        <div class="flex flex--col flex--left gap--none">
          {% if delta > 0 %}
            <div class="label label--inverted bg--gray-30 line-height--small px--1 pt--1 lg:py--0.5 lg:mb--0.5">+{{ delta }}</div>
          {% elsif delta < 0 %}
            <div class="label label--outline line-height--small px--1 pt--1 lg:py--0.5 lg:mb--0.5">–{{ delta | abs }}</div>
          {% else %}
            <!-- <div class="label line-height--small mt--0.5">&nbsp;</div> -->
          {% endif %}
          <div class="description line-height--xsmall">
            #{{ current_rank }}
            {% if rank_diff != null %}
              {% if rank_diff > 0 %}
                &uarr;{{ rank_diff }}
              {% elsif rank_diff < 0 %}
                &darr;{{ rank_diff | abs }}
              {% endif %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
          {% endfor %}

      {% endfor %}

    </div>
  </div>
</div>
<div class="title_bar">
    <svg class="w--7 h--7 image-stroke" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M5.5 5V19.5H20M7.5 16L11.5 11.5L15.5 14L19.5 8.5" stroke="#000000" stroke-width="1.2"/>
    </svg>
  <div class="title">{{trmnl.plugin_settings.instance_name | default: "Trending Recipes" }}
  </div>
  <div class="instance">
    {% assign tf = trmnl.plugin_settings.custom_fields_values.timeframe | default: "24h" %}
    {% case tf %}
      {% when "today" %}Today
      {% when "24h" %}Last 24 Hours
      {% when "3d" %}Last 3 Days
      {% when "7d" %}Last 7 Days
      {% when "30d" %}Last 30 Days
      {% else %}{{ tf | upcase }}
    {% endcase %}
  </div>
</div>
{% endtemplate %}
